### Guide to getting started for Lab 6
#### Darakhshan Mir, April 6, 2021

In [1]:

%matplotlib inline

import pandas as pd
import numpy as np
import pylab

import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('BROWARD_CLEAN.csv', index_col = 0)

In [3]:
data.head()

,race,sex,age,juv_fel_count,juv_misd_count,priors_count,charge_id,charge_degree (misd/fel),compas_decile_score,two_year_recid,compas_guess,compas_correct
id,,,,,,,,,,,,
1,6,0,69,0,0,0,16,1,1,0,0,1
3,2,0,34,0,0,0,170,1,3,1,0,0
4,2,0,24,0,0,4,306,1,4,1,0,0
5,2,0,23,0,1,1,303,1,8,0,1,0
6,6,0,43,0,0,2,28,1,1,0,0,1

In [4]:
features = pd.concat([data.age,
                     data.priors_count], axis = 1)

In [5]:
features.shape

(7214, 2)

In [6]:
target = data.two_year_recid

In [7]:
target.shape

(7214,)

In [8]:
 features_train, features_test, target_train, target_test= train_test_split(features, target, test_size = 0.2, random_state = np.random)

In [9]:
features_test.shape

(1443, 2)

In [10]:
features_test.head()

      age  priors_count
id
5392   47             1
3582   32             0
3538   21             1
1297   30             1
6800   20             0

In [18]:
features_train, features_test, target_train, target_test= train_test_split(features, target, test_size = 0.2, random_state = np.random)
# let's set up our logistic regression
lr = LogisticRegression()
lr.fit(features_train.values, target_train.values)

# use my model to predict the output for everyone in
# the testing set

y_pred = lr.predict(features_test.values)

#reality is in target_test

y_test = target_test.values

/Users/djm056/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [12]:
accuracy = metrics.accuracy_score(y_test, y_pred)
print(accuracy)

0.6715176715176715

In [13]:
cm = metrics.confusion_matrix(y_test, y_pred)
print(cm)

[[643 169]
 [305 326]]

In [14]:
cm[0][0]

643

In [19]:
# let us look at test features for the Black group
test_features_black = features_test[data.race == 2]
#print(test_features_black.shape)
test_features_white = features_test[data.race == 1]

### let us look at the target for the Black group

test_target_black = target_test[data.race == 2]
#print(test_target_black.shape)


# accuracy_Black(reality_for_AAgroup, prediction_forAAgroup)

# predicted outcome for only people whose race is AA in the test set
black_y_pred = lr.predict(test_features_black.values)
accuracy_Black = metrics.accuracy_score(test_target_black, black_y_pred)
print(accuracy_Black)

0.6896551724137931

/Users/djm056/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/djm056/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.