## Lab 7
### April 20, 2021.
#### Due April 28, 2021.

For this lab you will reproduce the tables listed in the [NY Times report](https://github.com/newsdev/nyt_inmates) on disparities in the New York State prison system.

In [1]:
# Making sure we have all the right libraries
%matplotlib inline

import pandas as pd
import pylab
import numpy as np

import pylab
import numpy as np
import matplotlib.pyplot as plt

The example below helps you get started with reproducing the first table.

In [2]:
# read the inmates_csv file
inmates_df = pd.read_csv('data/inmates.csv', dtype='unicode')

**Table 1**

In [3]:
inmates_df.groupby(['race', 'age_group',]).size().reset_index(name='counts')

   race age_group  counts
0     B     25-29    8768
1     B     30-39   14323
2     B       40+   19925
3     B       <25    7471
4     H     25-29    3805
5     H     30-39    7227
6     H       40+    9531
7     H       <25    2966
8     O     25-29     555
9     O     30-39     852
10    O       40+    1245
11    O       <25     512
12    W     25-29    4177
13    W     30-39    7295
14    W       40+   11581
15    W       <25    2424

The code above does not divide the count by 2 as the writeup suggests, so make sure to fix that before proceeding.

Now reproduce the remaining 8 tables in the file.

**Question 1**: From your reading of the two articles associated with these data, what are the themes that appear in inmate interviews that are reflected in the data, and what are some themes that are **not** reflected in the data. What are some of the larger lessons you can draw from this when using data to test discrimination.

**Question 2**: After you have reproduced the tables, discuss which tests of discrimination from your reading of Chapter 4 of the Fair ML book do these tests correspond to?